{{ define "main" }}
<article class="viz-page">
  <header>
    <h1>{{ .Title }}</h1>
    {{ with .Params.subtitle }}<p class="subtitle">{{ . }}</p>{{ end }}
  </header>
  <div class="viz-container">
    {{ .Content }}
  </div>
</article>
{{ with .Params.js }}
  {{ if reflect.IsSlice . }}
    {{ range . }}
      {{ $js := resources.Get (printf "js/%s" .) | js.Build (dict "target" "es2020") }}
      <script src="{{ $js.RelPermalink }}"></script>
    {{ end }}
  {{ else }}
    {{ $js := resources.Get (printf "js/%s" .) | js.Build (dict "target" "es2020") }}
    <script src="{{ $js.RelPermalink }}"></script>
  {{ end }}
{{ end }}
{{ end }}
